@import "../../../node_modules/include-media/dist/include-media";
.events {
	&.gradient-helper {
		padding-top: 70px;
		@include media('<768px'){
			padding-top: 73px;
		}
		.container {
			#first-section {
				position: relative;
				margin-bottom: 20px; //border: 1px solid red;

				h1 {
					margin-top: 0;
				}
				h6 {
					width: 100%;
					height: 11px;
					color: #787e8a;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 400;
					line-height: 20px;
					text-align: center;
				}
				.upcoming-event {
					& > div {
						@media all and (max-width: 991px) {
							flex-direction: column;

							img { margin-bottom: 40px; }
						}
						@media all and (max-width: 767px) {
							img {
								width: 100%;
								max-width: 460px;
								margin: 0 auto 40px;
								display: block;
							}
						}
						display: flex;
						align-items: center;
						font-family: "Open Sans";
						margin-top: 75px;
						padding: 0 10px;
						text-align: justify;
					}

					p {
						padding-left: 30px;
					}

					.details-text {
						padding-left: 0;
						padding-right: 30px;

						font-size: 12px;
						color: #787e8a;

						a {
							color: $main_dark;

							&:active, &:hover, &:focus {
								color: darken($main_dark, 20%);
								text-decoration: underline !important;
							}
						}
					}

					.details {
						justify-content: flex-end;
						margin-top: 10px;
					}

					.register {
						.event-register {
							position: relative;
							padding-bottom: 12px;
							margin-left: auto;

							border-radius: 0;
							border-width: 0 2px 0 2px;
							border-style: dashed;
							border-right-color: #fe7e30;
							border-left-color: #672788;

							color: $main_dark;

							&:before {
								content: '';
								position: absolute;
								top: 0;
								bottom: 12px;
								left: -2px;
								right: -2px;
								z-index: -10;

								opacity: 0;
								background-image: linear-gradient(-250deg, #672788 0%, #e0213d 50%, #fe7e30 100%);

								transition: opacity 0.3s ease-in-out;
							}

							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								left: -2px;
								right: -2px;
								height: 12px;

								box-shadow: 0px 4px 9px -2px rgba(224, 33, 62, 0.55);
								background-image: linear-gradient(-250deg, #672788 0%, #e0213d 50%, #fe7e30 100%);
							}

							&:hover, &:focus, &:active {
								&:before {
									opacity: 0.2;
								}
							}
						}
					}
				}
			}

			#second-section {
				@extend #first-section;
				margin-top: 8rem;

				.past-event {
					@extend .upcoming-event;

					.media {
						flex-basis: 33%;
						padding-left: 30px;
					}

					.image img {
						width: 100%;
						height: auto;
					}

					.video {
						width: 33%;
						div {
							position: relative;
							padding-bottom: 56.25%;
							padding-top: 35px;
							height: 0;
							overflow: hidden;
						}

						iframe {
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		.more-media {
			margin-top: 180px;

			h2 {
				text-align: center;
				margin-bottom: 30px;
				font-size: 48px;
				line-height: 1.1em;
			}
			.text {
				color: $main_dark;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 60px;
				@media all and (max-width: 992px) {
					text-align: center;
					margin-top: 5px;
				}
				@media all and (min-width: 992px) {
					margin-left: -3%;
				}
				@media all and (min-width: 1200px) {
					margin-left: -6%;
				}

				a {
					color: $main_dark;
					&:hover, &:active, &:focus {
						color: darken($main_dark, 20%);
						text-decoration: underline !important;
					}
				}
			}
			a.button {
				margin: 0 auto !important;
			}
			&.category {
				margin: 0;
				padding-left: 30px;

				.button {
					position: relative;
					padding: 50px;
					height: 0;
					width: 0;
					border-radius: 50%;
					overflow: visible;

					img {
						height: 60px;
						position: absolute;
						left: 50%;
						transform: translateX(-40%);
					}
				}
			}
		}
		.right-shape {
			position: absolute;
			top: 200px;
			right: 0;
			height: 723px;
			width: 612px;
			background: url('../images/events-right-shape.png') no-repeat;
			@include media('<768px'){
				opacity: .2;
			}
		}
	}
}