.ico {
	&:before { background-image: none; }
	.item {
		margin: 40px 0;

		img {
			display: block;
			margin: 2rem auto;
			width: auto;
			height: 300px;
		}
	}

	.register {
		margin-top: 100px;

		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-size: 48px;
			line-height: 1.1em;
		}
		.text {
			color: $main_dark;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 60px;

			a {
				color: $main_dark;
				&:hover, &:active, &:focus {
					color: darken($main_dark, 20%);
					text-decoration: underline !important;
				}
			}

			@media all and (max-width: 992px) {
				text-align: center;
				margin-top: 5px;
				margin-left: -3%;
			}

			@media all and (min-width: 1200px) {
				margin-left: -6%;
			}
		}
		a.button {
			margin: 0 auto;
		}

		@media all and (max-width: 991px) {
			margin-top: 1.5rem;

			a.button { margin-top: 2rem; }
		}
	}

	h1.early-bird { margin-top: 100px; }

	.right-shape {
		position: absolute;
		top: 200px;
		right: 0;
		height: 397px;
		width: 522px;
		background: url('../images/button_bg.png') no-repeat;
		@include media('<768px'){
			opacity: .2;
		}
	}
}
