.ico {
	&:before { background-image: none; }

	p { font-size: 1rem; }

	.item { margin: 40px 0; }

	.images-container {
		display: flex;
		justify-content: center;
		align-items: center;

		div {
			display: inline-block;
			flex-basis: 20%;
			flex-grow: 1;
			margin: 2rem;
			width: 100%;
			text-align: center;
		}

		img {
			height: auto;
			max-height: 400px;
			max-width: 100%;
		}

		@include media('<991px') {
			div { margin: 0.4rem; }
		}

		@include media('<768px') {
			flex-direction: column;
		}
	}

	a:not(.buy-now) {
		color: $main_dark;

		&:hover, &:focus, &:active {
			color: #000;
			text-decoration: underline !important;
		}
	}

	.register {
		margin-top: 100px;

		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-size: 48px;
			line-height: 1.1em;
		}
		.text {
			color: $main_dark;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 60px;

			a {
				color: $main_dark;
				&:hover, &:active, &:focus {
					color: darken($main_dark, 20%);
					text-decoration: underline !important;
				}
			}

			@media all and (max-width: 992px) {
				text-align: center;
				margin-top: 5px;
				margin-left: -3%;
			}

			@media all and (min-width: 1200px) {
				margin-left: -6%;
			}
		}
		a.button {
			margin: 0 auto;
		}

		@media all and (max-width: 991px) {
			margin-top: 1.5rem;

			a.button { margin-top: 2rem; }
		}
	}

	h1.early-bird { margin-top: 100px; }

	.right-shape {
		position: absolute;
		top: 200px;
		right: 0;
		height: 397px;
		width: 522px;
		background: url('../images/button_bg.png') no-repeat;
		@include media('<768px'){
			opacity: .2;
		}
	}
}
