.ico {
	.item {
		margin: 40px 0;

		img {
			display: block;
			margin: 2rem auto;
			width: auto;
			height: 300px;
		}
	}

	.register {
		margin-top: 60px;

		@media all and (max-width: 991px) {
			margin-top: 1.5rem;
		}

		@media all and (max-width: 767px) {
			&.row { display: none; }
		}

		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-size: 48px;
			line-height: 1.1em;
		}
		.text {
			color: $main_dark;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 60px;

			a {
				color: $main_dark;
				&:hover, &:active, &:focus {
					color: darken($main_dark, 20%);
					text-decoration: underline !important;
				}
			}

			@media all and (max-width: 992px) {
				text-align: center;
				margin-top: 5px;
				margin-left: -3%;
			}

			@media all and (min-width: 1200px) {
				margin-left: -6%;
			}
		}
		a.button {
			margin: 0 auto !important;
		}
		&.category {
			margin: 0;
			padding-left: 30px;

			.button {
				position: relative;
				padding: 30px;
				height: 0;
				width: 0;
				border-radius: 50%;
				overflow: visible;

				img {
					height: 35px;
					position: absolute;
					left: 50%;
					transform: translateX(-40%);
				}

				span { display: none; }
			}

			@media all and (max-width: 767px) {
				& {
					padding-left: 0;
					margin-top: 1.5rem;
				}

				.button {
					width: 240px;
					height: 60px;
					padding: 0;
					border-radius: 30px;

					img { display: none; }

					span { display: inline; }
				}
			}
		}
	}

	.right-shape {
		position: absolute;
		top: 200px;
		right: -10%;
		height: 397px;
		width: 522px;
		background: url('../images/button_bg.png') no-repeat;
		@include media('<768px'){
			opacity: .2;
		}
	}
}
