@import "../../../node_modules/include-media/dist/include-media";
.eig-berlin {
    &.gradient-helper {
        padding-top: 173px;
        @include media('<768px'){
            padding-top: 73px;
        }
        .container {
            #first-section {
                position: relative;
                @media all and (min-width: 1200px) {
                    height: 723px;
                }
                margin-bottom: 20px; //border: 1px solid red;
                h1 {
                    margin-top: 0;
                }
                h6 {
                    width: 100%;
                    height: 11px;
                    color: #787e8a;
                    font-family: "Open Sans";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: center;
                }
                .main-content {
                    @media all and (max-width: 991px) {
                        flex-direction: column;

                        img { margin-bottom: 40px; }
                    }
                    @media all and (max-width: 767px) {
                        img {
                            width: 100%;
                            max-width: 460px;
                            margin: 0 auto 40px;
                            display: block;
                        }
                    }
                    display: flex;
                    align-items: center;
                    font-family: "Open Sans";
                    margin-top: 75px;
                    padding: 0 10px;
                    text-align: justify;

                    p {
                        padding-left: 30px;
                    }
                }
                .countdown {
                    //border: 1px solid red;
                    width: auto;
                    white-space: nowrap;
                    align-items: flex-start;
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    @include media('<768px'){
                        .timer{
                            position: relative;
                            left: -30px;
                        }
                    }
                    h3{
                        font-family: "Futura Bold";
                    }
                    @media all and (max-width: 1200px) {
                        position: relative;
                        margin: 40px auto;
                        text-align: center;
                        margin-left: 50%;
                        left: 0;
                    }
                    @media all and (max-width: 768px) {
                        margin-left: 55%;
                    }
                    @media all and (max-width: 540px) {
                        margin-left: 51%;
                    }
                    @media all and (max-width: 462px) {
                        margin-left: 46%;
                    }
                    @media all and (max-width: 360px) {
                        margin-left: 43%;
                    }
                    @media all and (max-width: 335px) {
                        margin-left: 40%;
                    }
                }
            }
            .stages {
                display: flex;
                width: 100%;
                margin-top: 23px;
                .stage {
                    height: 75px;
                    justify-content: center;
                    align-content: space-between;
                    flex-wrap: wrap;
                    display: flex;
                    .text {
                        width: 100%;
                        color: $main_dark;
                        font-family: "Futura";
                        font-size: 18px;
                        font-weight: 400;
                        text-align: center; //line-height: 24px;
                    }
                    .bar {
                        width: 100%;
                        height: 19px;
                    }
                    .border {
                        display: none;
                    }
                    &.legal {
                        width: 10%;
                        .bar {
                            border-radius: 8px 0 0 8px;
                            background-color: #e8e6fa;
                        }
                    }
                    &.board {
                        width: 30%;
                        .text {
                            border-left: 2px dashed #8533af;
                            border-right: 2px dashed #fe9e63;
                            height: calc(100% - 19px);
                        }
                        .bar {
                            align-self: flex-start;
                            box-shadow: 0 10px 30px rgba(243, 56, 83, 0.3); //background-color: #4939d6;
                            background-image: linear-gradient(to right, #8533af 0%, #e64e64 50%, #fe9e63 100%);
                        }
                    }
                    &.president {
                        width: 25%;
                        .bar {
                            background-color: #c4c1dc;
                        }
                    }
                    &.head {
                        width: 20%;
                        .bar {
                            background-color: #dddaf2;
                        }
                    }
                    &.executive {
                        width: 15%;
                        .bar {
                            border-radius: 0px 8px 8px 0px;
                            background-color: #e8e6fa;
                        }
                    }
                }
            }
        }
        .stages {
            @media all and (max-width: 1024px) {
                width: auto !important; //border: 1px solid red !important;
                flex-wrap: wrap;
                height: 700px;
                .stage {
                    margin-top: 0 !important; //justify-content: flex-start !important;
                    align-items: center !important;
                    height: 100px !important;
                    width: 100% !important; //border: 1px solid red;
                    flex-wrap: nowrap;
                    margin-left: -18%; //todo
                    @media all and (max-width: 550px) {
                        margin-left: -10%;
                    }
                    @media all and (max-width: 336px) {
                        margin-left: 0;
                    }
                    .text {
                        width: calc(58% - 50px) !important; //border: 1px solid red;
                        text-align: right !important;
                        margin-right: 50px;
                        @media all and (max-width: 390px) {
                            width: 62% !important;
                        }
                    }
                    .border {
                        display: block !important;
                        width: 50px !important;
                        height: 100%;
                        border-top: 2px dashed #8533af;
                        border-bottom: 2px dashed #fe9e63;
                    }
                    .bar {
                        width: 19px !important;
                        height: 100% !important;
                    }
                    &.legal {
                        height: 10% !important;
                        .bar {
                            border-radius: 8px 8px 0 0 !important;
                        }
                    }
                    &.board {
                        height: 30% !important;
                        .text {
                            align-items: auto !important; //line-height: 101px;
                            height: auto !important; //width: calc(50% - 100px) !important;
                            border: none !important;
                            margin-right: 0;
                        }
                        .bar {
                            box-shadow: 0 10px 30px rgba(243, 56, 83, 0.3); //background-color: #4939d6;
                            background-image: linear-gradient(to bottom, #8533af 0%, #e64e64 50%, #fe9e63 100%) !important;
                        }
                    }
                    &.president {
                        height: 25% !important;
                    }
                    &.head {
                        height: 20% !important;
                    }
                    &.executive {
                        height: 15% !important;
                        .bar {
                            border-radius: 0 0 8px 8px !important;
                        }
                    }
                }
            }
        }
        .map {
            width: 100%;
            text-align: center;
            margin-top: 70px;
            .iframe {
                width: 83%;
                height: 200px;
                margin: 122px auto 25px auto;
                background-image: url(../images/map.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 10px;
            }
            .text {
                img {
                    width: 15px;
                    height: 19px;
                    vertical-align: top; //margin-top: 1px;
                    margin-right: 5px;
                    margin-top: 1px;
                }
                color: $main_dark;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5em;
            }
        }
        .attend {
            margin-top: 180px;
            h2 {
                text-align: center;
                margin-bottom: 30px;
                font-size: 48px;
                line-height: 1.1em;
            }
            .text {
                color: $main_dark;
                font-family: "Open Sans";
                font-size: 16px;
                line-height: 60px;
                @media all and (max-width: 992px) {
                    text-align: center;
                    margin-top: 5px;
                }
                @media all and (min-width: 992px) {
                    margin-left: -3%;
                }
                @media all and (min-width: 1200px) {
                    margin-left: -6%;
                }

                a {
                    color: $main_dark;
                    &:hover, &:active, &:focus {
                        color: darken($main_dark, 20%);
                        text-decoration: underline !important;
                    }
                }
            }
            a.button {
                margin: 0 auto !important;
            }
        }
        .participants {
            margin-top: 110px;
            h6 {
                color: #787e8a;
                font-family: "Open Sans";
                font-size: 12px;
                text-align: center;
                margin-bottom: 0px;
            }
            .logos {
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: space-between;
                width: 100%;
                text-align: center;
                .logo {
                    margin: 3.2%;
                    display: inline-block;
                    &:first-child {
                        margin-left: 0;
                    }
                    display: inline-block;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    @media all and (max-width: 390px) {
                        margin-top: 5%;
                        margin-bottom: 5%;
                    }
                }
                img {
                    filter: grayscale(100%);
                    opacity: .2;
                    &:hover {
                        opacity: 1;
                        filter:none;
                    }
                }
            }
        }
        .right-shape {
            position: absolute;
            top: 200px;
            right: 0;
            height: 723px;
            width: 612px;
            background: url('../images/eig-berlin-right-shape.png') no-repeat;
            @include media('<768px'){
                opacity: .2;
            }
        }
    }
}